<!DOCTYPE html>
<html lang="it" class="min-h-screen">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="GPG">
    <meta name="description" content="Sito di Qfield Marconi, dove si possono trovare rilevamente fatti per il progetto GIS4Schools">
    <meta name="keywords" content="gis4schools, marconirovereto, qfield, qgis">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="/output.css">
    <title>GIS4Schools - QField Marconi Web</title>
</head>

<body class="flex flex-col min-h-screen bg-indigo-50 dark:bg-gray-900">

    <!-- header -->
    <header class="shadow-md bg-indigo-200 dark:bg-indigo-900">
        <div class="px-8 mx-auto flex justify-center font-semibold dark:text-white">
            <h1 class="flex flex-col items-center gap-4 py-4 px-2 text-3xl text-center">
                <img src="/logo.png" alt="" width="142" height="64" class="dark:hidden">
                <img src="/logo-dark.png" alt="" width="142" height="64" class="hidden dark:block">
                QField Marconi Web
            </h1>
        </div>
    </header>
    <!-- header -->

    <main class="my-8 max-w-6xl w-11/12 mx-auto flex flex-col gap-8">

        <!-- card QField e QField Marconi -->
        <div class="self-center p-4 max-w-screen-sm flex flex-col gap-4 text-center bg-white rounded-lg shadow-md sm:p-8 dark:bg-gray-800">

            <h2 class="text-3xl font-bold dark:text-white">App necessarie per rilevamento</h2>

            <p class="text-base text-gray-500 dark:text-gray-400 sm:text-lg">
                Usa QField per fare le segnalazioni e Qfield Marconi per caricare i dati nel cloud.
            </p>

            <div class="justify-center items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">

                <a href="https://play.google.com/store/apps/details?id=ch.opengis.qfield"
                    class="w-full sm:w-auto dark:text-white bg-indigo-300 hover:bg-indigo-400 dark:bg-indigo-700 dark:hover:bg-indigo-800 
                    focus:ring-4 focus:ring-indigo-200 dark:focus:ring-indigo-600 rounded-xl inline-flex items-center justify-center px-4 py-2.5 transition duration-200 hover:scale-105">
                    <svg class="mr-3 w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                        <path d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 
                        0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z" />
                    </svg>
                    <div class="text-left">
                        <div class="mb-1 text-xs">QField</div>
                        <div class="-mt-1 text-sm font-semibold">Google Play</div>
                    </div>
                </a>

                <a href="/qfield-marconi.apk"
                    class="w-full sm:w-auto dark:text-white bg-indigo-300 hover:bg-indigo-400 dark:bg-indigo-700 dark:hover:bg-indigo-800 
                    focus:ring-4 focus:ring-indigo-200 dark:focus:ring-indigo-600 rounded-xl inline-flex items-center justify-center px-4 py-2.5 transition duration-200 hover:scale-105">
                    <svg class="mr-3 w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                    </svg>
                    <div class="text-left">
                        <div class="mb-1 text-xs">Qfield Marconi</div>
                        <div class="-mt-1 text-sm font-semibold">Scarica APK</div>
                    </div>
                </a>
            </div>
        </div>
        <!-- card QField e QField Marconi -->

        <!-- card progetti -->
        <div class="overflow-x-hidden shadow-md sm:rounded-lg flex flex-col gap-8 justify-center rounded-lg bg-white dark:bg-gray-800">

            <div class="mt-8 mx-4 self-center text-center max-w-screen-sm flex flex-col gap-4">
                <h2 class="text-3xl font-bold dark:text-white">Scarica progetti</h2>
                <p class="text-base text-gray-500 dark:text-gray-400 sm:text-lg">
                    Scarica il progetto QGIS principale, che contiene tutti i rilevamenti caricati fino ad ora, oppure scarica un progetto specifico ad un utente.
                </p>
                <a href="/download?user=merged" 
                    class="mt-4 self-center w-full inline-flex justify-center items-center py-5 px-5 text-center text-lg font-semibold dark:text-white bg-indigo-300 hover:bg-indigo-400 
                    dark:bg-indigo-700 dark:hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-200 dark:focus:ring-indigo-600 rounded-xl shadow-md transition duration-200 hover:scale-105">
                    Scarica progetto principale 
                    <svg class="ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                    </svg>
                </a>
            </div>

            <!-- table progetti -->
            <div class="overflow-x-auto">
                <table class="table-fixed min-w-full divide-y divide-gray-100 dark:divide-gray-700">

                    <thead class="bg-gray-200 dark:bg-gray-600">
                        <tr>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase dark:text-gray-200">
                                Nome
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase dark:text-gray-200">
                                Data Creazione
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase dark:text-gray-200">
                                Ultima Modifica
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase dark:text-gray-200">
                                Nr.Revisioni
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase select-none text-transparent">
                                Download
                            </th>
                        </tr>
                    </thead>

                    <tbody class="bg-white divide-y divide-gray-100 dark:bg-gray-800 dark:divide-gray-700">
                        {{#each projects}}
                            <tr class="bg-white hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 transition duration-200">
                                <td class="py-4 px-6 text-sm font-medium whitespace-nowrap text-gray-900 dark:text-white">
                                    {{this.fmtUserName}}
                                </td>
                                <td class="py-4 px-6 text-sm font-medium whitespace-nowrap text-gray-900 dark:text-white">
                                    {{this.creationDate}}
                                </td>
                                <td class="py-4 px-6 text-sm font-medium whitespace-nowrap text-gray-900 dark:text-white">
                                    {{this.lastModified}}
                                </td>
                                <td class="py-4 px-6 text-sm font-medium whitespace-nowrap text-gray-900 dark:text-white">
                                    {{this.revisionNumber}}
                                </td>
                                <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                    <a href="/download?user={{this.userName}}"
                                        class="inline-flex items-center py-2 px-3 text-sm font-medium text-center dark:text-white bg-indigo-300 hover:bg-indigo-400 dark:bg-indigo-700 
                                        dark:hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-200 dark:focus:ring-indigo-600 rounded-lg shadow-md transition duration-200 hover:scale-105">
                                        Scarica
                                        <svg class="h-4 w-4 ml-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- table progetti -->
        </div>
        <!-- card progetti -->
    </main>

    <!-- footer -->
    <footer class="p-6 shadow mt-auto bg-indigo-200 dark:bg-indigo-900">
        <div class="mx-auto flex flex-col">
            <span class="mx-auto text-sm sm:text-center dark:text-white">2022 GPG™</span>
        </div>
    </footer>
    <!-- footer -->

    {{!-- <script src="/flowbite.js"></script> --}}
</body>
</html>
